/*PALETA DE CORES*/

.color1 {color: #00ffab;}
.color2 {color: #ccff5b;}
.color3 {color: #622a4b;}
.color4 {color: #727875;}
.color5 {color: #e2e2e2;}

.background-color1 {background-color: #00ffab;}
.background-color2 {background-color: #ccff5b;}
.background-color3 {background-color: #622a4b;}
.background-color4 {background-color: #727875;}
.background-color5 {background-color: #e2e2e2;}

*{
    font-family: "Lato", "sans-serif";
}

/*NAVBAR*/

#navbar{
    border-bottom: 1px solid #ffd6c6;
}

.navbar-brand i{
    color: white;
    font-size: 2em;
    margin-left: 1em;
}

#navbar-content{
    padding: .5em;
    justify-content: space-between;
}

#navbarToggleExternalContent a:hover{
    color: wheat;
}

#navbarToggleExternalContent a{
    font-size: large;
    color: white;
    font-weight: 700;
}

#navbarToggleExternalContent .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-underline .active{
    color: wheat;
}

.bi-list{
    color: white;
    font-size: 1.5em;
}

.navbar-toggler{
    border-color: white;
}

/*SLIDERS*/

#slider {
    margin-top: 8em;
    margin-bottom: 1em;
  }
  
  #slider .carousel-caption {
    bottom: 3em;
  }
  
  #slider .carousel-caption h5 {
    font-size: 2.5em;
    text-shadow: #000 2px 2px;
  }
  
  .btn {
    border-radius: 0;
  }
  
  #slider .btn {
    padding: 0.3em 0.8em;
    font-size: 1em;
    margin-top: 1em;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 0.7;
  }
  
  .carousel-control-prev i,
  .carousel-control-next i {
    color: white;
    font-size: 3em;
  }
  
  .carousel-indicators [data-bs-target] {
    background-color: white;
    opacity: 1;
  }
  
  .carousel-indicators .active {
    background-color: #000000;
  }
  
  @media (min-width: 768px) {
    #slider .carousel-caption {
      bottom: 15em;
    }
    #slider .carousel-caption h5 {
      font-size: 4em;
      text-shadow: #000 2px 3px;
    }
    #slider .btn {
      padding: 0.6em 1.6em;
      font-size: 1.2em;
      margin-top: 1em;
    }
    .carousel-indicators {
      bottom: 7em;
    }
  }
  
  @media (min-width:767px) and (max-width: 991px) {
    #slider .carousel-caption {
        bottom: 8em;
      }
  }

  /*MINI BANNERS*/

  #mini-banners{
    margin-bottom: 2em;
  }

  .mini-banner{
    padding-top: 1em;
    font-size: 3em;
  }

 .card{
  margin-bottom: 1em;
 }

 @media (min-height: 768px) {
  #mini-banners{
    margin-top: -5em;
  }
 }